<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>about page</title>
</head>
<body>

<h1>{{pageTitle}}</h1>

<form name="regform" action="/about" method="Get">
Username: <input type="text" name="username">
Surname: <input type="text" name="surname">
<button type="submit" id="submitbutton">Register</button>
</form>
<p>{{Username}}</p>
<p>{{Password}}</p>
{{> footer}}
</body>
</html>
